<div>

    <h3>busca un pokemon</h3>
    <form>
        <input type="text" name="pokeName">
        <button>Buscar</button>
    </form>

    <div>
        <p>resultados de busqueda</p>
        <h4>{{details.name}}</h4>
        <img src="{{details.url}}" alt="">
    </div>

</div>